loki:
  test:
    enabled: false
  lokiCanary:
    enabled: false
  monitoring:
    dashboards:
      enabled: true
    serviceMonitor:
      enabled: true
  global:
    extraEnv:
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: loki-rustfs
          key: AWS_ACCESS_KEY_ID
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: loki-rustfs
          key: AWS_SECRET_ACCESS_KEY
  loki:
    image:
      tag: 3.5.1
    storage:
      type: s3
      bucketNames:
        chunks: loki
        ruler: loki
        admin: loki
      s3:
        endpoint: "http://192.168.100.155:30292"
        region: "us-east-1"
        s3ForcePathStyle: true
        insecure: true
    schemaConfig:
      configs:
      - from: 2024-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h
    auth_enabled: false
    commonConfig:
      replication_factor: 2
    ingesterConfig:
      chunk_target_size: 102400    # 100KB (más pequeño)
      chunk_idle_period: 5m       # 5 min (más rápido)
      max_chunk_age: 10m          # 10 min (más rápido)
  minio:
    enabled: false
  read:
    replicas: 2
    extraArgs:
    - -log.level=error
  write:
    replicas: 2
    persistence:
      storageClass: iscsi
    extraArgs:
    - -log.level=error
  backend:
    replicas: 2
    persistence:
      storageClass: iscsi
    extraArgs:
    - -log.level=error
  gateway:
    replicas: 2
    extraArgs:
    - -log.level=error
