immich:
  # Global env vars for all components (server + microservices)
  controllers:
    main:
      containers:
        main:
          env:
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-pg-app
                  key: host
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: immich-pg-app
                  key: dbname
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-pg-app
                  key: password
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-pg-app
                  key: username
            IMMICH_TELEMETRY_INCLUDE: all
            IMMICH_API_METRICS_PORT: "8081"
            IMMICH_MICROSERVICES_METRICS_PORT: "8082"
            IMMICH_METRICS: "true"

  server:
    controllers:
      main:
        replicas: 2
        containers:
          main:
            resources:
              requests:
                cpu: "200m"
                memory: "256Mi"
    ingress:
      main:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          external-dns.alpha.kubernetes.io/target: router.csepulveda.net
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
        hosts:
          - host: immich.csepulveda.net
            paths:
              - path: "/"
        tls:
          - hosts:
            - immich.csepulveda.net
            secretName: immich.csepulveda.net-tls

  machine-learning:
    controllers:
      main:
        replicas: 1
        containers:
          main:
            env:
              TRANSFORMERS_CACHE: /cache
              MACHINE_LEARNING_HTTP_KEEPALIVE_TIMEOUT_S: "0"
              IMMICH_LOG_LEVEL: debug
              ORT_DISABLE_MIMALLOC: "1"
            resources:
              requests:
                cpu: "200m"
                memory: "256Mi"
    persistence:
      cache:
        enabled: true
        size: 10Gi
        type: emptyDir
        accessMode: ReadWriteMany

  immich:
    metrics:
      enabled: true
    persistence:
      library:
        existingClaim: immich-backup

  valkey:
    enabled: true
