trivy-operator:
  excludeNamespaces: kafka
  operator:
    cacheReportTTL: 240h
    scannerReportTTL: 240h
    scanJobTimeout: 30m
    scanJobsConcurrentLimit: 1
    scanOnlyCurrentRevisions: true
    vulnerabilityScannerScanOnlyCurrentRevisions: true
    configAuditScannerScanOnlyCurrentRevisions: true
    scanJobPodTemplateContainerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      privileged: false
      readOnlyRootFilesystem: false
      runAsNonRoot: false
    builtInTrivyServer: true
    #excludeImages: "nvidia/*,*/nvidia-*,*driver*"

  resources:
    requests:
      cpu: 100m
      memory: 512Mi

  serviceMonitor:
    enabled: true
  
  trivy:
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 2Gi

    ignoreUnfixed: true
    imageScanCacheDir: "/var/lib/trivy-cache"
    clientServerSkipUpdate: true
    timeout: "20m"
    offlineScan: false

    storageClassEnabled: true
    storageClassName: "iscsi"
    storageSize: "10Gi"
    
    server:
      resources:
        requests:
          cpu: 200m
          memory: 256Mi
        limits:
          cpu: 1
          memory: 512Mi

